.form-container {
  /* border: 2px solid rebeccapurple; */
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 98%, 0.8);
}
.form {
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  padding: 1rem;
}

input {
  width: 22rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: auto;
  border: none;
}

.submit-btn {
  width: 100%;
  background-color: #078080;
  color: whitesmoke;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.submit-btn:hover {
  background-color: #f45d48;
}
