h2 {
  font-size: 2.3rem;
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=078080);
  color: #fff;
  /* text-decoration-line: underline;
  text-decoration-color: #078080;
  text-decoration-style: wavy; */
}

.form-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 98%, 0.8);
  position: relative;
}

.details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.5rem;
  place-items: center;
}

.form {
  font-size: 1.6rem;
  display: grid;
  padding: 1.5rem;
}

input,
textarea {
  width: 30rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: auto;
  border: none;
  font-size: 1rem;
}

.btn {
  font-size: 1.2rem;
  width: fit-content;
  background-color: #000;
  color: whitesmoke;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.submit-btn {
  width: 100%;
  background-color: #000;
  color: whitesmoke;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #fff;
  color: #000;
}

.submit-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.contact {
  font-size: 1.2rem;
  display: grid;
  place-items: center;
}

.form-message {
  position: absolute;
  font-size: 1.25rem;
  top: -2rem;
  display: grid;
  place-items: center;
  width: 100%;
  font-weight: 600;
}

.message {
  background-color: #eaeaea;
  padding: 1rem;
  border-radius: 0.5rem;
  animation: slideDown 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.success-message {
  color: #078080;
}

.error-message {
  color: #f45d48;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
