.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin-top: 2rem;
  margin-bottom: 7rem;
  min-height: calc(100vh - 122px);
}

.info-container {
  padding: 4rem;
}

.info-title {
  font-size: 2.3rem;
}

.info-text {
  font-size: 1.5rem;
}

.info-img {
  width: 25rem;
  border-radius: 0.5rem;
  transform: translate(10px, -10px);
}

.info-icon {
  color: rebeccapurple;
  font-size: 2.5rem;
}
