.card {
  width: 20rem;

  transition: 0.3s;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  /* height: 20rem; */
  /* background-color: hsla(0, 0%, 98%, 0.9); */
}

/* .card:hover {
  /* outline: 3px solid #f45d48; */

.card-title {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.card-img {
  width: 20rem;
  height: 12rem;
  border-radius: 0.5rem;
}

.card-body {
  font-size: 1rem;
}
