@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;800;900&display=swap');

.header {
  color: #f45d48;
  padding: 2% 10%;
  display: flex;
}

.logo {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: left;
  transition: all ease-in 0.15s;
}

.logo:hover {
  color: #078080;
}

.header-content {
  display: flex;
  justify-content: flex-end;
}
