@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;800;900&display=swap');

.header {
  color: #f45d48;
  padding: 1rem;
  /* background-color: black; */
  padding: 2% 10%;

  display: flex;
}

.logo {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 900;
  font-size: 2.3rem;
  text-align: left;
}

.logo:hover {
  color: #078080;
}
