/* nav {
  background-color: black;
} */
.navbar {
  width: 100%;
  display: flex;

  justify-content: flex-end;
}

.navbar-list {
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
  font-family: 'Roboto Mono', monospace;
}

.navbar-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.navbar-list > li:hover {
  color: #078080;
}

.right-side {
  flex: 50%;
}
