.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbar-list {
  display: flex;
  gap: 2.5rem;
  font-size: 1.2rem;
  font-family: 'Roboto Mono', monospace;
}

.navbar-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  transition: all ease-in 0.15s;
  padding-top: 0.85rem;
}

.navbar-list > li:hover {
  color: #f45d48;
  font-weight: bold;
}
