.timeline {
  padding-top: 5rem;
}

.timeline-title {
  font-size: 2.2rem;
  padding-bottom: 5rem;
  color: #078080;
  text-decoration: underline;
}
.vertical-timeline-element {
  font-size: 1.5rem;
}

.vertical-timeline-element-title {
  font-size: 1.5rem;
}

.vertical-timeline-element-subtitle {
  font-size: 1.2rem;
}

.vertical-timeline-element-date {
  text-align: left;
  color: black;
  font-size: 1.2rem;
}

.subtitle {
  padding-bottom: 2rem;
}

.certificate-icon {
  font-size: 2rem;
}

.icons-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
