.timeline-title {
  font-size: 3rem;
  padding-bottom: 3rem;
  /* background-color: black; */
  color: black;
  height: 1rem;
}
.vertical-timeline-element {
  font-size: 2rem;
}

.vertical-timeline-element-title {
  font-size: 1.8rem;
}

.vertical-timeline-element-subtitle {
  font-size: 1.3rem;
}

.vertical-timeline-element-date {
  text-align: left;
  color: black;
}

.subtitle {
  padding-bottom: 2rem;
}

.certificate-icon {
  font-size: 2rem;
  /* color: rebeccapurple; */
}

.icons-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
