.vertical-timeline-element {
  font-size: 2rem;
}

.vertical-timeline-element-title {
  font-size: 1.8rem;
}

.vertical-timeline-element-subtitle {
  font-size: 1.3rem;
}

.vertical-timeline-element-date {
  text-align: left;
  color: black;
}

.subtitle {
  padding-bottom: 2rem;
}

.certificate-icon {
  font-size: 2rem;
}
