a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  font-size: 3rem;
  display: grid;
  place-items: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1520' height='800' preserveAspectRatio='none' viewBox='0 0 1420 549'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1056%26quot%3b)' fill='none'%3e%3crect width='1420' height='900' x='0' y='0' fill='rgba(201%2c 164%2c 239%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c387.454C81.007%2c380.456%2c173.115%2c419.427%2c238.418%2c370.985C303.705%2c322.555%2c294.987%2c223.844%2c323.285%2c147.639C349.078%2c78.181%2c397.731%2c16.954%2c397.398%2c-57.137C397.04%2c-136.757%2c378.586%2c-223.099%2c321.37%2c-278.469C265.162%2c-332.863%2c174.052%2c-316.018%2c100.999%2c-343.971C19.13%2c-375.298%2c-45.539%2c-460.657%2c-132.793%2c-452.251C-221.675%2c-443.689%2c-303.143%2c-378.5%2c-347.14%2c-300.799C-388.951%2c-226.96%2c-342.148%2c-134.743%2c-359.598%2c-51.702C-378.882%2c40.07%2c-472.276%2c115.333%2c-453.906%2c207.292C-435.278%2c300.541%2c-354.831%2c379.52%2c-266.448%2c414.601C-181.754%2c448.217%2c-90.783%2c395.297%2c0%2c387.454' fill='%23ab71e6'%3e%3c/path%3e%3cpath d='M1420 1071.478C1533.767 1094.3139999999999 1662.859 1141.516 1760.963 1079.549 1859.0439999999999 1017.597 1862.818 878.105 1900.074 768.242 1933.4560000000001 669.802 1970.179 574.183 1967.579 470.27 1964.734 356.58299999999997 1953.612 236.82100000000003 1884.5149999999999 146.49599999999998 1813.796 54.05099999999999 1704.315-12.734000000000037 1588.587-25.15599999999995 1479.003-36.91899999999998 1383.544 37.10500000000002 1282.851 81.91300000000001 1195.975 120.572 1097.799 144.16699999999997 1039.416 219.22199999999998 982.173 292.811 987.954 392.82 969.861 484.28 950.6279999999999 581.502 893.517 680.635 929.9010000000001 772.821 966.521 865.605 1071.7730000000001 906.403 1156.953 958.31 1240.149 1009.008 1324.479 1052.305 1420 1071.478' fill='%23e8d7f8'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1056'%3e%3crect width='1420' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;

  background-position: 19%;
}
