a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  background-color: #f8f5f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 3% 8%; */
}

.main {
  flex: 1;
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
  display: grid;
  place-items: center;
  color: #232323;
}
